@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.buttonSubir{
    position: fixed;
    z-index: 500;
    left: 3%;
    bottom: 13%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 100%;
    a{
        color: #845EC2;   
        i{
            font-size: 2rem;
        }
    }
}


#filtrar{
    background-color: #333;
    p{
        color: #fff;
    }
    .filtros{
        a{
            color: #eee;
        }
        ul{
            li{
                a{
                    color: #333;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.filtrosLista{
    list-style: none;
    a{
        color: #333;
    }
}
.productos{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.secciones{
    text-align: center;
    a{
        font-size: clamp(1rem, 1.5vw, 3rem); 
        width: 100%;
    }
}

.logo {
    font-size: clamp(2rem, 3vw, 3rem); 
    font-family: 'Lobster', cursive;
    color: #eee;
    span{
        font-size: clamp(2rem, 3vw, 3rem); 
        color: #845EC2;
    }
}
.banner{
    text-transform: uppercase;
    max-width: 100%;
    overflow: hidden;
    .textos {
        background-color: #eee;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .wave2{
            height: 15%;
            width: 100%;
        }
        .wave2A{
            transform: rotateX(180deg);
        }
        .textCatalogo{
            height: 70%;
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content:center;
            h5{
                color: #845EC2;
                animation-name: textoCatalogo;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
        }
    }
}

@keyframes textoCatalogo {
    0%{
        scale: 1;
    }

    50%{
        scale: 1.01;
    }

    100%{
        scale: 1;
    }
}


.wave1 {
  -webkit-animation: wave-animation1 8.7s infinite linear; /* Safari 4+ */
  -moz-animation:    wave-animation1 8.7s infinite linear; /* Fx 5+ */
  -o-animation:      wave-animation1 8.7s infinite linear; /* Opera 12+ */
  animation:         wave-animation1 8.7s infinite linear; /* IE 10+ */
}
.wave2 {
  -webkit-animation: wave-animation1 6.3s infinite linear; /* Safari 4+ */
  -moz-animation:    wave-animation1 6.3s infinite linear; /* Fx 5+ */
  -o-animation:      wave-animation1 6.3s infinite linear; /* Opera 12+ */
  animation:         wave-animation1 6.3s infinite linear; /* IE 10+ */
}

@-webkit-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@-moz-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@-o-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% {background-position: 1601px 0;}
}

.wave1 {
    background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave1.png') 0 0 repeat-x;
}
.wave2 {
    background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave2.png') 0 0 repeat-x;
}


.articuloTitulo{
    font-size: clamp(2.3rem, 3vw, 3rem); 
    color: #eee;
    background-color: #333;
}
.articulos {
    .productoContainer{
        border-radius: 1rem;
        background-color: #dfe9f3;
        text-align: center;
        overflow: hidden;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        .articulosColor{
            border-radius: 0%;
            box-shadow: 0.2rem 0px 0.3rem rgba($color: #888, $alpha: 0.5);
            background-color: #845EC2;
            h5{
                padding: 1rem;
                margin: 0%;
                color: #eee;
                font-size: clamp(2rem, 2.5vw, 2rem); 
            }
        }
        .infoProd{
            display: flex;
            align-items: center;
            height: 60px;
            background-color: #eee;
            p{
            margin: 0px;
            color: #333;
            }
            button{
                background-color: #845EC2;
                color: #eee;
                transition: all 0.4s;
                &:hover{
                    background-color: #333;
                    transition: all 0.4s;
                }
            }
        }
        
    }
}


#imgContainer{
    height: 300px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.productoPrecio{
    color: #eee;
}

.enlaces{
    p{
        font-size: (min(1rem), 1.4vw);
    }
    a{
        background-color: #eee;
        border-radius: 0.5rem;
        width: 3rem;
        height: 3rem;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.4s;
        &:hover{
            transform: scale(1.1);
            background-color: #845EC2;
            transition: all 0.4s;
            i{
                color: #eee;
            }
        }
        i{
            color: #845EC2;
        }
    }
}
.whatsapp{
    z-index: 1;
    background-color: #845EC2;;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-decoration: none;
    right: 5%;
    bottom: 10%;
}


@media screen and (max-width:992px) {
    .logo{
        text-align: center;
        margin: 0px;
    }
}

@media screen and (max-width:576px) {
    .articulos {
        
        div{
            p{
                width: 100%;
            }
            }
        }
        
}